
<div class="modal-content">
    <div class="modal-header">			
        <h4 class="modal-title mb-0">Reset Password</h4>	
    </div>
    <div class="modal-body">
        <form [formGroup] = "passwordResetForm">
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark required">Email</label>
                <input type="text" class="form-control" name="username" placeholder="Email" formControlName="email">		
            </div>
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark required">New Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">	
            </div>   
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark required">Re-Enter Password</label>
                <input type="password" class="form-control" name="reEnterPassword" placeholder="Re-Enter Password" formControlName="reEnterPassword">	
            </div>        
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="passwordResetForm.invalid" (click)="resetPassword()">Submit</button>
    </div>
</div>