.top-row{
    font-weight: bold;
    font-size: 14px;
    border-style: dashed;
    border-width: 1px;
    text-align: center;
    padding-top: 6px;
}

.section-headding{
    font-weight: bold !important;
    margin-top: 40px !important;
    margin-bottom: -2px !important;
    font-size: 15px !important;
}

.applications-table{
    width: 60%;
}

.report-data{
    font-size: 15px;
}

.table {
    margin-top: 20px !important;
    width: 60%;
    margin-bottom: 1rem;
    color: #ffffff !important;
    background-color: #375367c7 !important;
    border-radius: 5px !important;
}