<div class="modal-header">
  <div class="row">
    <div class="col-md-12">
      <h4 class="modal-title mb-1">{{headerText}}</h4>
      <p *ngIf="!isEditMode">The field labels marked with <span class="required"></span> are required input fields</p>
    </div>
  </div>
</div>

<div class="modal-body mb-0">
  <div [formGroup]="addSalesPriceForm">
    <div class="form-row mb-4">
      <div class="col">
        <label class="font-size-h7  text-dark required">Average Body Weight</label>
        <input type="text" class="form-control" placeholder="Average Body Weight" formControlName="averageBodyWeight"
        maxlength="3" onCopy="return false" onDrag="return false" onDrop="return false"
        onPaste="return false" (keypress)="onKeyPressChangesDecimal($event)">
      </div>
      <div class="col">
        <label class="font-size-h7  text-dark required">Sales Price</label>
        <input type="text" class="form-control" placeholder="Sales Price" formControlName="salesPrice"
        maxlength="8" onCopy="return false" onDrag="return false" onDrop="return false"
        onPaste="return false" (keypress)="onKeyPressChangesDecimal($event)">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-primary" [disabled]="addSalesPriceForm.invalid"
    (click)="saveOrUpdateSalesPrice()">{{saveButtonText}}</button>
</div>