.card-height {
    height: 10rem !important;
}

.card-icon {
    margin-left: 2rem;
    padding-top: 1rem;
}

.card-text {
    text-transform: uppercase;
    margin-left: 2rem;
}

.card-result-text {
    font-size: 2rem;
}

.card-custom{
    margin-top: 1rem !important;
}

.chart{
    width: 100% !important;
}

svg{
 width: 100% !important;   
}

.apexcharts-canvas {
    width: 450px !important;
}