<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Farm Management</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary" (click)="addNewFarm()" *ngxPermissionsOnly="['ADD_FARMER']">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Farm
            </a>
            <!-- <a type="button" class="btn btn-success ml-2" (click)="importFarms()">
                <i class="fa fa-files-o" aria-hidden="true"></i>
                Import Farms
            </a> -->
            <a type="button" class="btn btn-danger ml-2" (click)="deleteSelected()" *ngxPermissionsOnly="['DELETE_FARMERS']">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete Farms
            </a>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-6">
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="searchText" placeholder="Search"
                            [(ngModel)]="filterParam" /><small class="form-text text-muted"><b>Search</b></small>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-start">
                    <!-- begin: Grouping -->
                    <div>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2"
                            (click)="exportFarmList(exportTypes.PDF)" *ngxPermissionsOnly="['DOWNLOAD_PDF_FARMER']">
                            <i class="fa fa-file-text"></i>
                            <span>PDF</span>
                        </button>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2"
                            (click)="exportFarmList(exportTypes.CSV)" *ngxPermissionsOnly="['DOWNLOAD_EXCEL_FARMER']">
                            <i class="fa fa-table"></i>
                            <span>CSV</span>
                        </button>
                    </div>
                    <!-- end: Grouping -->
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single">
                            <input type="checkbox" [checked]="isAllChecked" [(ngModel)]="isAllChecked"
                                (ngModelChange)="onSelectionChange()" />
                            <span></span>
                        </label>
                    </th>
                    <th> Owner First Name</th>
                    <th> Owner Last Name</th>
                    <th> Farm Name </th>
                    <th> Contact No </th>
                    <th> Address</th>
                    <th> No of Ponds </th>
                    <!-- <th> Created Date </th> -->
                    <th> Action </th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let farm of (farmList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize) | filter:filterParam;let i = index">
                        <td class="selection-cell">
                            <label class="checkbox checkbox-single">
                                <input type="checkbox" [checked]="farm.isChecked" (change)="singleSelectionChange(i)" />
                                <span></span>
                            </label>
                        </td>
                        <td>{{ farm?.owner?.firstName}}</td>
                        <td>{{ farm?.owner?.lastName }}</td>
                        <td>{{ farm?.farmName }}</td>
                        <td>{{ farm?.contactNo }}</td>
                        <td>{{ farm?.address }}</td>
                        <td>{{ farm?.pondCount }}</td>
                        <!-- <td>{{ farm?.createdOn | date: 'EEEE, MMMM d, y' }}</td> -->
                        <td>
                            <a title=" Edit Role" class="btn btn-icon btn-light btn-hover-primary btn-sm"
                                (click)="updateFarm(farm)" *ngxPermissionsOnly="['EDIT_FARMER']">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                            </a>
                            <a title="Delete item" class="btn btn-icon btn-light btn-hover-danger btn-sm ml-2"
                                (click)="deleteFarmRecord(farm._id)" *ngxPermissionsOnly="['DELETE_FARMER']">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [collectionSize]="farmList && farmList.length ? farmList.length: 0" [(page)]="page"
                [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</div>