<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Club Member Management</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary m-1" (click)="addNewClubMember()" *ngxPermissionsOnly="['ADD_CLUB_MEMBER']">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Club Member
            </a>
            <!-- <a type="button" class="btn btn-success m-1" (click)="addNewClubMember()"><i class="fa fa-files-o"
                    aria-hidden="true"></i> Import Club Members</a> -->
            <a type="button" class="btn btn-danger ml-2" (click)="deleteSelected()" *ngxPermissionsOnly="['DELETE_ALL_CLUB_MEMBERS']">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete Club Members
            </a>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-6">
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="searchText" placeholder="Search"
                            [(ngModel)]="filterParam" /><small class="form-text text-muted"><b>Search</b></small>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-start">
                    <!-- begin: Grouping -->
                    <div>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2"
                            (click)="exportClubMemberList(exportTypes.PDF)" *ngxPermissionsOnly="['DOWNLOAD_PDF_CLUB_MEMBERS']">
                            <i class="fa fa-file-text"></i>
                            <span>PDF</span>
                        </button>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2"
                            (click)="exportClubMemberList(exportTypes.CSV)" *ngxPermissionsOnly="['DOWNLOAD_EXCEL_CLUB_MEMBERS']">
                            <i class="fa fa-table"></i>
                            <span>CSV</span>
                        </button>
                    </div>
                    <!-- end: Grouping -->
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single">
                            <input type="checkbox" [checked]="isAllChecked" [(ngModel)]="isAllChecked"
                                (ngModelChange)="onSelectionChange()" />
                            <span></span>
                        </label>
                    </th>
                    <th> Customer Name </th>
                    <th> Email </th>
                    <th> Contact No</th>
                    <th> Address </th>
                    <th> Action </th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let clubMember of (clubMemberList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize) | filter:filterParam;let i = index">
                        <td class="selection-cell">
                            <label class="checkbox checkbox-single">
                                <input type="checkbox" [checked]="clubMember.isChecked"
                                    (change)="singleSelectionChange(i)" />
                                <span></span>
                            </label>
                        </td>
                        <td>{{clubMember?.firstName}} {{clubMember.lastName}}</td>
                        <td>{{clubMember?.email}}</td>
                        <td>{{clubMember?.contactNumber}}</td>
                        <td>{{clubMember?.address}}</td>
                        <td>
                            <a title="Edit Role" class="btn btn-icon btn-light btn-hover-primary btn-sm"
                                (click)="updateClubMember(clubMember)" *ngxPermissionsOnly="['EDIT_CLUB_MEMBERS']">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                            </a>
                            <a title="Delete item" class="btn btn-icon btn-light btn-hover-danger btn-sm ml-2"
                                (click)="deleteClubMemberRecord(clubMember._id)" *ngxPermissionsOnly="['DELETE_CLUB_MEMBER']">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [collectionSize]="clubMemberList && clubMemberList.length ? clubMemberList.length: 0"
                [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</div>