.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    .logo {
        text-transform: uppercase;
        h3 {
            margin: 0 !important;
            font-size: 1.2rem !important;
            color: #fff;
        }
    }
}

