<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <h4 class="modal-title mb-1">{{headerText}}</h4>
            <p *ngIf="!isEditMode">The field labels marked with <span class="required"></span> are required input fields
            </p>
        </div>
    </div>
</div>
<div class="modal-body mb-0">
    <div [formGroup]="addRoleForm">
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">Name</label>
                <input type="text" class="form-control" placeholder="Role Name" formControlName="roleCode">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">Description</label>
                <input type="text" class="form-control mb-4" placeholder="Role Description"
                    formControlName="roleDescription">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <ng-multiselect-dropdown [placeholder]="'Permissions'" formControlName="permissions"
                    [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems">
                </ng-multiselect-dropdown>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="addRoleForm.invalid"
        (click)="addRole()">{{saveButtonText}}</button>
</div>